.pages {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.numPage {
  min-width: 20px;
  height: 20px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  background-color: #deb887;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.selectedPage {
  background-color: brown;
  font-size: 18px;
  font-weight: bold;
  cursor: not-allowed;
}