.users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

@media (max-width: 1024px) {
  .users {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .users {
    grid-template-columns: 1fr;
  }
}
